body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
}

.box {
  background: purple;
  width: 140px;
  height: 140px;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  padding: 10px;
  border-radius: 8px;
}

.item {
  width: 25px;
  height: 25px;
  background: orange;
  border-radius: 4px;
}

.box1 {
  
}
.box2 {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.box3 {
  flex-wrap: wrap;
  align-content: flex-start;
  flex-wrap: wrap;
}

.box4 {
    gap: 20px;
}

.box5 {
  justify-content: flex-start;
  align-items: flex-start;
}

.box6 {
  justify-content: flex-end;
  align-items: flex-start;
}

.box7 {
  justify-content: center;
  align-items: flex-start;
}

.box8 {
gap: 20px;
}

.box9 {

}

.box10 {
  justify-content: flex-start;
  align-items: flex-end;
}

.box11 {
  align-items: center;
  align-items: center;
}

.box12 {
gap: 20px;
}
